<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124594177858-ft7f11sc5hq8hgsfha5el19gq4st61l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124594177858-ft7f11sc5hq8hgsfha5el19gq4st61l0</string>
	<key>API_KEY</key>
	<string>AIzaSyC2EZ9ojjtAO1M9qjiTFM3wFqeZ3HO2Kxs</string>
	<key>GCM_SENDER_ID</key>
	<string>124594177858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharelymeter.SharelyMeter.sharelymeter</string>
	<key>PROJECT_ID</key>
	<string>sharelymeter-9fe02</string>
	<key>STORAGE_BUCKET</key>
	<string>sharelymeter-9fe02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:124594177858:ios:a4f2181e13c5ae086aeadb</string>
	<key>DATABASE_URL</key>
	<string>https://sharelymeter-9fe02.firebaseio.com</string>
</dict>
</plist>
